In [101]:
import pandas as pd
import datetime
from datetime import date, datetime, time
import locale

In [20]:
#diferencia entre date y datetime
ft='2019-03-22 13:45:00'
f='2022-05-22'

In [29]:
f=date.fromisoformat(f)

In [26]:
d=datetime.fromisoformat(ft)

In [30]:
type(f)

datetime.date

## FORMATEO DE FECHA EN UN DF

In [33]:
df=pd.read_excel('bdd_facturas.xlsx', skiprows=7)

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3015 entries, 0 to 3014
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            0 non-null      float64
 1   FECHA                 3014 non-null   object
 2   EMISOR                3009 non-null   object
 3   PRECIO %              3009 non-null   float64
 4   VALOR NOMINAL (USD)   3009 non-null   float64
 5   VALOR EFECTIVO (USD)  3009 non-null   float64
 6   F. EMISION            3009 non-null   datetime64[ns]
 7   F. VENCIMIENTO        3009 non-null   datetime64[ns]
 8   RENDIMIENTO %         3009 non-null   float64
 9   PROCEDENCIA           3009 non-null   object
 10  OBSERVACIONES         3009 non-null   object
dtypes: datetime64[ns](2), float64(5), object(4)
memory usage: 259.2+ KB

In [44]:
df.head()

,Unnamed: 0,FECHA,EMISOR,PRECIO %,VALOR NOMINAL (USD),VALOR EFECTIVO (USD),F. EMISION,F. VENCIMIENTO,RENDIMIENTO %,PROCEDENCIA,OBSERVACIONES
0,NaN,2021-01-04,SURPAPELCORP S A,98.8007,29463.33,29109.97,2020-10-22,2021-02-19,9.5,G,ACEPTANTE: ESCOBAR RUIZ CIA. LTDA. - RUC: 1790...
1,NaN,2021-01-04,SURPAPELCORP S A,98.8631,4819.21,4764.42,2020-10-22,2021-02-19,9.0,G,ACEPTANTE: ESCOBAR RUIZ CIA. LTDA. - RUC: 1790...
2,NaN,2021-01-04,SURPAPELCORP S A,98.8631,4919.41,4863.48,2020-10-22,2021-02-19,9.0,G,ACEPTANTE: ESCOBAR RUIZ CIA. LTDA. - RUC: 1790...
3,NaN,2021-01-04,SURPAPELCORP S A,98.1114,5359.44,5258.22,2020-10-22,2021-03-21,9.0,G,ACEPTANTE: PRODUCTORA CARTONERA S.A. - RUC: 09...
4,NaN,2021-01-04,SURPAPELCORP S A,98.8007,26246.46,25931.68,2020-10-22,2021-02-19,9.5,G,ACEPTANTE: ESCOBAR RUIZ CIA. LTDA. - RUC: 1790...

In [42]:
#filtrar valores nulos para evitar el error de formateo de fecha
df=df[df['EMISOR'].notnull()]

In [43]:
df['FECHA']=df['FECHA'].apply(lambda x: datetime.fromisoformat(str(x)))

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3009 entries, 0 to 3008
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            0 non-null      float64
 1   FECHA                 3009 non-null   datetime64[ns]
 2   EMISOR                3009 non-null   object
 3   PRECIO %              3009 non-null   float64
 4   VALOR NOMINAL (USD)   3009 non-null   float64
 5   VALOR EFECTIVO (USD)  3009 non-null   float64
 6   F. EMISION            3009 non-null   datetime64[ns]
 7   F. VENCIMIENTO        3009 non-null   datetime64[ns]
 8   RENDIMIENTO %         3009 non-null   float64
 9   PROCEDENCIA           3009 non-null   object
 10  OBSERVACIONES         3009 non-null   object
dtypes: datetime64[ns](3), float64(5), object(3)
memory usage: 282.1+ KB

In [46]:
df['DIF FECHAS']=df['F. VENCIMIENTO']-df['F. EMISION']

In [87]:
df['DIF FECHAS']=df['DIF FECHAS'].apply(lambda x: x.days)

In [88]:
df.head()

,Unnamed: 0,FECHA,EMISOR,PRECIO %,VALOR NOMINAL (USD),VALOR EFECTIVO (USD),F. EMISION,F. VENCIMIENTO,RENDIMIENTO %,PROCEDENCIA,OBSERVACIONES,DIF FECHAS
0,NaN,2021-01-04,SURPAPELCORP S A,98.8007,29463.33,29109.97,2020-10-22,2021-02-19,9.5,G,ACEPTANTE: ESCOBAR RUIZ CIA. LTDA. - RUC: 1790...,120
1,NaN,2021-01-04,SURPAPELCORP S A,98.8631,4819.21,4764.42,2020-10-22,2021-02-19,9.0,G,ACEPTANTE: ESCOBAR RUIZ CIA. LTDA. - RUC: 1790...,120
2,NaN,2021-01-04,SURPAPELCORP S A,98.8631,4919.41,4863.48,2020-10-22,2021-02-19,9.0,G,ACEPTANTE: ESCOBAR RUIZ CIA. LTDA. - RUC: 1790...,120
3,NaN,2021-01-04,SURPAPELCORP S A,98.1114,5359.44,5258.22,2020-10-22,2021-03-21,9.0,G,ACEPTANTE: PRODUCTORA CARTONERA S.A. - RUC: 09...,150
4,NaN,2021-01-04,SURPAPELCORP S A,98.8007,26246.46,25931.68,2020-10-22,2021-02-19,9.5,G,ACEPTANTE: ESCOBAR RUIZ CIA. LTDA. - RUC: 1790...,120

## DIFERENCIA ENTRE LA FECHA ACTUAL Y LA FECHA EMISION

In [90]:
date.today()

datetime.date(2022, 6, 20)

In [95]:
df['DIAS_TRASNCURRIDOS']=df['F. EMISION'].apply(lambda x: (date.today() -datetime.date(x)).days)

In [96]:
df.head()

,Unnamed: 0,FECHA,EMISOR,PRECIO %,VALOR NOMINAL (USD),VALOR EFECTIVO (USD),F. EMISION,F. VENCIMIENTO,RENDIMIENTO %,PROCEDENCIA,OBSERVACIONES,DIF FECHAS,DIAS_TRASNCURRIDOS
0,NaN,2021-01-04,SURPAPELCORP S A,98.8007,29463.33,29109.97,2020-10-22,2021-02-19,9.5,G,ACEPTANTE: ESCOBAR RUIZ CIA. LTDA. - RUC: 1790...,120,606
1,NaN,2021-01-04,SURPAPELCORP S A,98.8631,4819.21,4764.42,2020-10-22,2021-02-19,9.0,G,ACEPTANTE: ESCOBAR RUIZ CIA. LTDA. - RUC: 1790...,120,606
2,NaN,2021-01-04,SURPAPELCORP S A,98.8631,4919.41,4863.48,2020-10-22,2021-02-19,9.0,G,ACEPTANTE: ESCOBAR RUIZ CIA. LTDA. - RUC: 1790...,120,606
3,NaN,2021-01-04,SURPAPELCORP S A,98.1114,5359.44,5258.22,2020-10-22,2021-03-21,9.0,G,ACEPTANTE: PRODUCTORA CARTONERA S.A. - RUC: 09...,150,606
4,NaN,2021-01-04,SURPAPELCORP S A,98.8007,26246.46,25931.68,2020-10-22,2021-02-19,9.5,G,ACEPTANTE: ESCOBAR RUIZ CIA. LTDA. - RUC: 1790...,120,606

### FORMATEAR A TEXTO LAS FECHAS

In [103]:
locale.setlocale(locale.LC_TIME, '')

'Spanish_Ecuador.1252'

In [106]:
df['NOMBRE_MES']=df['FECHA'].apply(lambda x: datetime.date(x).strftime('%B %d, %Y'))

In [107]:
df.head()

,Unnamed: 0,FECHA,EMISOR,PRECIO %,VALOR NOMINAL (USD),VALOR EFECTIVO (USD),F. EMISION,F. VENCIMIENTO,RENDIMIENTO %,PROCEDENCIA,OBSERVACIONES,DIF FECHAS,DIAS_TRASNCURRIDOS,NOMBRE_MES
0,NaN,2021-01-04,SURPAPELCORP S A,98.8007,29463.33,29109.97,2020-10-22,2021-02-19,9.5,G,ACEPTANTE: ESCOBAR RUIZ CIA. LTDA. - RUC: 1790...,120,606,"enero 04, 2021"
1,NaN,2021-01-04,SURPAPELCORP S A,98.8631,4819.21,4764.42,2020-10-22,2021-02-19,9.0,G,ACEPTANTE: ESCOBAR RUIZ CIA. LTDA. - RUC: 1790...,120,606,"enero 04, 2021"
2,NaN,2021-01-04,SURPAPELCORP S A,98.8631,4919.41,4863.48,2020-10-22,2021-02-19,9.0,G,ACEPTANTE: ESCOBAR RUIZ CIA. LTDA. - RUC: 1790...,120,606,"enero 04, 2021"
3,NaN,2021-01-04,SURPAPELCORP S A,98.1114,5359.44,5258.22,2020-10-22,2021-03-21,9.0,G,ACEPTANTE: PRODUCTORA CARTONERA S.A. - RUC: 09...,150,606,"enero 04, 2021"
4,NaN,2021-01-04,SURPAPELCORP S A,98.8007,26246.46,25931.68,2020-10-22,2021-02-19,9.5,G,ACEPTANTE: ESCOBAR RUIZ CIA. LTDA. - RUC: 1790...,120,606,"enero 04, 2021"

## SEGUNDO EJEMPLO CON VALORES DE TIPO HORA

In [108]:
dh=pd.read_csv('Sales_April_2019.csv')

In [111]:
dh.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

In [120]:
dh=dh[dh['Order Date'].notnull()]
dh=dh[dh['Order Date']!="Order Date"]

In [121]:
#dh['Order Date']=dh['Order Date'].apply(lambda x: datetime.fromisoformat(x))

dh['Order Date']=dh['Order Date'].apply(lambda x: pd.to_datetime(x))

In [128]:
dh['YEAR']=dh['Order Date'].apply(lambda x: x.year)
dh['MONTH']=dh['Order Date'].apply(lambda x: x.month)
dh['DAY']=dh['Order Date'].apply(lambda x: x.day)
dh['HOUR']=dh['Order Date'].apply(lambda x: x.hour)
dh['MINUTE']=dh['Order Date'].apply(lambda x: x.minute)

In [129]:
dh.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,YEAR,MONTH,DAY,HOUR,MINUTE
0,176558,USB-C Charging Cable,2,11.95,2019-04-19 08:46:00,"917 1st St, Dallas, TX 75001",2019,4,19,8,46
2,176559,Bose SoundSport Headphones,1,99.99,2019-04-07 22:30:00,"682 Chestnut St, Boston, MA 02215",2019,4,7,22,30
3,176560,Google Phone,1,600,2019-04-12 14:38:00,"669 Spruce St, Los Angeles, CA 90001",2019,4,12,14,38
4,176560,Wired Headphones,1,11.99,2019-04-12 14:38:00,"669 Spruce St, Los Angeles, CA 90001",2019,4,12,14,38
5,176561,Wired Headphones,1,11.99,2019-04-30 09:27:00,"333 8th St, Los Angeles, CA 90001",2019,4,30,9,27

In [130]:
#fechas personalizadas para comparar
d=date(2019,4,19)
t=time(12,30)
fecha_contraste=datetime.combine(d,t)
fecha_contraste

datetime.datetime(2019, 4, 19, 12, 30)

In [131]:
dh['VALIDAR HORA']=dh['Order Date'].apply(lambda x: x>=fecha_contraste)

In [134]:
dh[dh['VALIDAR HORA']==True]

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,YEAR,MONTH,DAY,HOUR,MINUTE,VALIDAR HORA
5,176561,Wired Headphones,1,11.99,2019-04-30 09:27:00,"333 8th St, Los Angeles, CA 90001",2019,4,30,9,27,True
6,176562,USB-C Charging Cable,1,11.95,2019-04-29 13:03:00,"381 Wilson St, San Francisco, CA 94016",2019,4,29,13,3,True
9,176565,Macbook Pro Laptop,1,1700,2019-04-24 10:38:00,"915 Willow St, San Francisco, CA 94016",2019,4,24,10,38,True
14,176570,AA Batteries (4-pack),1,3.84,2019-04-22 15:09:00,"186 12th St, Dallas, TX 75001",2019,4,22,15,9,True
15,176571,Lightning Charging Cable,1,14.95,2019-04-19 14:29:00,"253 Johnson St, Atlanta, GA 30301",2019,4,19,14,29,True
...,...,...,...,...,...,...,...,...,...,...,...,...
18371,194083,USB-C Charging Cable,1,11.95,2019-04-23 22:33:00,"85 1st St, Los Angeles, CA 90001",2019,4,23,22,33,True
18372,194084,Apple Airpods Headphones,1,150,2019-04-26 22:11:00,"818 12th St, Boston, MA 02215",2019,4,26,22,11,True
18374,194086,Google Phone,1,600,2019-04-28 08:50:00,"981 Dogwood St, Los Angeles, CA 90001",2019,4,28,8,50,True
18375,194087,USB-C Charging Cable,2,11.95,2019-04-26 11:44:00,"35 13th St, Portland, OR 97035",2019,4,26,11,44,True
18380,194092,AAA Batteries (4-pack),2,2.99,2019-04-28 14:36:00,"347 Sunset St, San Francisco, CA 94016",2019,4,28,14,36,True